.container {
  padding-bottom: 700px;
  align-content: center;
}

.sideBar {
  display: flex;
  width: 150px;
  background: "#f0f0f0";
}

.main {
  background-color: #42A5F5;
  padding: 20px;
  display: flex;
  &-content{
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 80px;
    font-size: 20px;
    color: white;
  }
}

.triple-items {
  display: grid;
  margin-left: 10px;
  margin-right: 10px;
}


.leaflet-container {
  width: 900px;
  height: 70vh;
  border-radius: 25px;
}




@mixin displayCenter {
  display: flex;
  justify-content: center;
}

body{
  background: #EEE;
  font-family: 'Baloo Thambi 2', cursive;
  .dataNumbers {
    @include displayCenter();
    text-align: center;
    height: 10px;
    margin-top: 80px;
    .item {
      background: #191970;
      font-size: 32px;
      font-family: inherit;
      padding: 3rem;
      width: 150px;
      position: relative;
      border-radius: 25px;
      margin: 10px;
      color: white;
      transition: all 1s ease-out 0s;
      &::before{
        position: absolute;
        content: '';
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        border-radius: 25px;
        background-color: #87CEEB;
        z-index: -5;
      }
      &::after{
        position: absolute;
        content: '';
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        border-radius: 25px;
        z-index: -5;
      }
    }
    .item:hover{
      font-size: 46px;
      color: yellow;
    }
  }
}




.title {
  font-size: 14px;
  font-family: 'Baloo Thambi 2', cursive;
}

div .dropdown{
  margin: 1em;
  padding: 0.8em;
  font-size: 14px;
}


.main-footer{
  background: #42A5F5;
  flex-shrink: 0;
  padding: 10px;
  padding-top: 50px;
  color: white;
  text-align: center;
  margin: 0;
  font-size: 20px;
}

.second-footer{
  text-align: center;
  flex-shrink: 0;
  background: #191970;
  padding: 40px;
  color: white;

}
